<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.1.4300.0">
	<notifications newPostNotificationTemplateId="c60dc2a1-f5ca-6608-93a8-ff000018d650" newThreadNotificationTemplateId="c70dc2a1-f5ca-6608-93a8-ff000018d650" />
</forumsConfig>