<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.1.4300.0" projectName="Demo" dateCreated="2014-02-06 19:56:57Z">
	<defaultSite id="a0097541-7eb2-485f-992e-f7ae605d80b0" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="6515c2a1-f5ca-6608-93a8-ff000018d650" />
</projectConfig>